*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.board{
    display : grid;
    grid-template : repeat(3, 100px) / repeat(3, 100px);
}

.cell {
    width: 100px;
    height: 100px;
}

.middle-row{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.middle-col{
    border-left: 2px solid black;
    border-right: 2px solid black;
}




